* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {

    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: 100;
}

body {

    display: grid;

    grid-template:
        "a a a"
        "b b b"
        "c c c"

    ;
}

header {

    display: grid;
    grid-area: a;

    place-items: center;

}

main {

    grid-area: b;

    display: grid;

    height: 800px;
    margin: 0px;
    place-content: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;


}

#input-section {

    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    background: #f5f5f5;
    /* color: #4d4d4d57; */
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.034);

    align-items: start;

    padding: 30px;


}

#input-div {

    display: grid;
    justify-self: center;
    background: #f5f5f5;
    /* color: #4d4d4d5e; */
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.003);
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 20%),
        0 25px 50px 0 rgb(0 0 0 / 10%);
    padding: 16px 16px 16px 16px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;




}

#user-input {

    outline: none;
    border: 0px;
    display: grid;
    grid-column: 2/3;
    font-size: 24px;
    /* color:#4d4d4d63 */


}



#mark-all-button {
    display: grid;
    grid-column: 1/2;
    border: none;

}

footer {


    grid-area: c;
    display: grid;
    justify-items: center;

}